@model IEnumerable<QuanLyKhachSan.Models.LoaiPhong>

@{
    ViewBag.Title = "Danh sách loại phòng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <div class="mt-5">
                <h4 class="card-title float-left mt-2">Loại phòng</h4>
                @Html.ActionLink("Thêm loại phòng", "ThemLoaiPhong", null, new { @class = "btn btn-primary float-right veiwbutton" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <section class="pricing py-5">
            <div class="container">
                <div class="row mt-5">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">
                                        @item.TenLoai
                                    </h5>
                                    <h6 class="card-price text-center mt-3">
                                        @String.Format("{0:N0}₫", item.DonGia)
                                    </h6>
                                    <hr />
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>@item.MoTa</li>
                                    </ul>
                                    <div class="d-flex justify-content-between">
                                        @Html.ActionLink("Sửa", "ChinhSuaLoaiPhong", new { id = item.MaLP }, new { @class = "btn btn-sm btn-primary text-uppercase w-50 me-1" })

                                        <form action="@Url.Action("XoaLoaiPhong", "LoaiPhong")" method="post" class="w-50 ms-1"
                                              onsubmit="return confirm('Bạn có chắc chắn muốn xóa loại phòng @item.TenLoai không?');">
                                            <input type="hidden" name="id" value="@item.MaLP" />
                                            <button type="submit" class="btn btn-sm btn-danger text-uppercase w-100">
                                                Xóa
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>
