@model QuanLyKhachSan.Models.DichVuViewModel

@{
    ViewBag.Title = "ChiTietDichVu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ChiTietDichVu</h2>

<div>
    <h4>DichVuViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaGoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaGoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaThucTe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaThucTe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
