@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="mt-4 mb-3">Danh sách hóa đơn</h3>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Mã HĐ</th>
            <th>Khách hàng</th>
            <th>Số điện thoại</th>
            <th>Ngày lập</th>
            <th>Phương thức TT</th>
            <th>Tình trạng</th>
            <th>Tổng tiền (₫)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hd in Model)
        {
            <tr>
                <td>@hd.MaHD</td>
                <td>@hd.HoTen</td>
                <td>@hd.SoDienThoai</td>
                <td>@hd.NgayLap.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@hd.PTTT</td>
                <td>@hd.TrangThai</td>
                <td>@string.Format("{0:N0}", hd.TongTienDuKien)</td>
                <td class="text-right">
                    <div class="dropdown dropdown-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v ellipse_color"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            @Html.ActionLink("Chi tiết", "ChiTietHoaDon", new { id = hd.MaHD }, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
